redirects: on

source https://nuget.org/api/v2


nuget FAKE.Core
nuget FsUnit.Xunit
nuget xunit.core
nuget xunit.runner.console
nuget xunit.runner.visualstudio  version_in_path: true
nuget xunit.runners
nuget FsCheck
nuget FsCheck.Xunit
nuget System.Collections.Immutable
nuget CommandLineParser >= 2 beta
nuget PeNet
nuget ILRepack.Lib

nuget Antlr4 prerelease     